* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  color: black;
  font-size: 18px;
}

.container {
  width: 825px;
  margin: 50px auto;
}

/* PRODUCT */
.product {
  border: 5px solid black;
  margin: 0;
}

.header,
.shipping,
.details-header,
.add {
  text-transform: uppercase;
}

.header {
  text-align: center;
  background-color: #e2e2e2;
  font-size: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* PRODUCT INFORMATION */

.price {
  font-size: 24px;
}

.shipping {
  color: #737373;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  margin-bottom: 10px;
}

.more-info:link,
.more-info:visited {
  color: black;
  text-decoration: none;
  text-decoration: underline solid 2px;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* PRODUCT DETAILS */

.details-header {
  font-size: 18px;
  margin: 30px 0 20px 0;
}

.details-list {
  list-style-type: square;
}

.details-list li {
  margin: 10px 20px;
}

/* BUTTON */

.button {
  border: none;
  background-color: black;
  margin-bottom: 0;
  width: 100%;
  padding: 20px;
}

.button:hover {
  background-color: white;
  cursor: pointer;
}

.add {
  color: white;
  font-size: 20px;
  border-top: 5px solid black;
}

.add:hover {
  color: black;
}
