* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
  color: black;
  font-size: 18px;
}

/* PRODUCT */
.product {
  width: 825px;
  margin: 50px auto;
  border: 5px solid black;
  position: relative;
}

.header,
.shipping,
.details-header,
.add {
  text-transform: uppercase;
}

.header {
  text-align: center;
  background-color: #e2e2e2;
  font-size: 28px;
  padding-top: 10px;
  padding-bottom: 10px;

  grid-column: 1 / -1;
}

article {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 40px;
}

/* PRODUCT INFORMATION */
.product-info {
  padding: 0;
  margin-top: 20px;
  /* flex: 1; */
}

.price {
  font-size: 24px;
}

.shipping {
  color: #737373;
  font-size: 14px;
  font-weight: bold;
}

.price-and-ship {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.description {
  margin-bottom: 10px;
  text-align: justify;
}

.more-info:link,
.more-info:visited {
  color: black;
  text-decoration: none;
  text-decoration: underline solid 2px;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* PRODUCT DETAILS */

.product-details {
  margin-top: 20px;

  /* flex: 1; */
}

.details-header {
  font-size: 18px;
  margin: 0;
}

.details-list {
  list-style-type: square;
}

.details-list li {
  margin-bottom: 10px;
  margin-left: 20px;
}

/* BUTTON */

.button {
  border: none;
  background-color: black;
  margin-bottom: 0;
  width: 100%;
  padding: 20px;

  grid-column: 1 / -1;
}

.button:hover {
  background-color: white;
  cursor: pointer;
}

.add {
  color: white;
  font-size: 20px;
  border-top: 5px solid black;
}

.add:hover {
  color: black;
}

.sale {
  position: absolute;
  text-transform: uppercase;
  font-size: 18px;
  padding: 5px 15px;
  background-color: red;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
  left: -50px;
  top: -20px;
}

.colors {
  margin-top: 15px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.colors > div {
  padding: 12px;
  cursor: pointer;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.brown {
  background-color: brown;
}
